#lessons-container {
    display: flex;
    flex-direction: column;
}

.lesson-block {
    margin-bottom: 2rem;
    border: 0.1rem solid #333;
    border-radius: 1.5rem;
    padding: 3rem 1rem 1rem;
    scroll-margin-top: 7rem;
} 

.lesson__title {
    padding-bottom: 2rem;
    font-size: 2.4rem;
}

.lesson__container {
    display: none;
}

.lesson__container.active {
    display: flex;
}

.lesson__main {
    flex: 1;
}

.lesson_words {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.8rem;        
    margin-top: 10px;
    width: 68.2rem;
}

#info {
    padding: 1rem;
    margin-bottom: 2rem;
}

#info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page__info {
    font-size: 2.4rem;
    color: #000;
}

.lesson__word {
    background-color: #f0f2f5;
    color: #333;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #ddd;
    width: 13rem;
    text-align: center;
}