<div class="navbar__container grid">
    <div class="navbar__logo">
        <img src="../static/images/logo.png" alt="Logo">
        <h3 class="title-logo">English Vocabulary Learning</h3>
    </div>

    <div class="navbar__navigation">
        <div class="nav__item active">
            <a href="/index">Home</a>
        </div>
        <div class="nav__item">
            <a href="/about">About</a>
        </div>
        <div class="nav__item">
            <a href="/contact">Contact</a>
        </div>
        <div class="nav__item">
            <a href="/history">History</a>
        </div>
        <div class="nav__line">

        </div>
    </div>

    <div class="navbar__auth">
        <div class="auth__item">
            <a href="/setting" class="setting" title="Settings">
                <i class="ti-settings navbar__icon"></i>
            </a>
        </div>

        <div class="auth__group">
            <div class="auth__item">
                <a href="/profile" class="profile" title="Profile">
                    <img src="../static/images/user.png" alt="">
                </a>
            </div>

            <div class="auth__user auth__item">
                 <div class="username">
                        SANiuoi
                </div>

                <div class="logout__container btn-auth">
                    <a href="/logout" class="logout-btn" title="Logout">
                        Logout
                    </a>
                </div>
            </div>
               
        </div>

        <div class="auth__group hidden" style="display: none;">
            <div class="auth__item btn-auth">
                <a href="/register">Register</a>
            </div>

            <div class="auth__item btn-auth">
                <a href="/login">Login</a>
            </div>
        </div>

    </div>
</div>